:root {
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5; 
    --skeleton-color: #D9D9D9; 
    --shape-transparency: #FFFFFF56;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
    --brand-color: #EF5F4C;

    --font-family-primary: 'Poppins', Arial, sans-serif;

    --nav-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-family-primary);
    font-size: 1rem;
    background-color: var(--background-color);
}       

/* NAVBAR */

.navbar {
    position: fixed;
    width: 100%;
    min-height: var(--nav-height);
    background-color: var(--surface-color);
}

.navbar-nav .nav-item:nth-child(4) {
    display: none;
}

.navbar-toggler {
    border: 1px solid var(--surface-color);
    outline: 0;
    padding: 0.25rem;
    box-shadow: none !important;
}   

.navbar-toggler:focus {
    border: 1px solid var(--brand-color);
    outline: 0;
    box-shadow: 0;
}

.navbar-toggler-icon {
    max-width: 30px;
    max-height: 30px;
}

#navbarNav.show > .navbar-nav{
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--surface-color);
    padding: 2rem;
    border-bottom: 1px solid var(--surface-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.nav-link {
    transition: all .2s ease;
}

.nav-link:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.nav-item form {
    background-color: var(--background-color);
    border-radius: 5px;
}

.nav-item form button {
    padding: 0.25rem 0.5rem;
    border: none;
    border-left: 1px solid var(--surface-color);
    outline: 0;
    background-color: transparent;
    vertical-align: middle;
}

.nav-item form button i {
    font-size: 1.5rem;
    color: var(--text-color-secondary);
    transition: color .2s ease-in-out;
}

.nav-item form button:hover .ph-magnifying-glass {
    color: #EF5F4C;
}

#search {
    padding: 0 1rem;
    border: none;
    outline: 0;
    background-color: var(--background-color);
}



/* HEADER */

#header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 1.5rem;
    padding-top: calc(var(--nav-height) + 2rem);
    background-color: var(--surface-color);
}

#header-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#header-profile {
    width: 120px;
    height: auto;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 125%;
    color: var(--text-color-primary);
}

.profile-about, .list-group-item span {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 170%;
    color: var(--text-color-secondary);
}

.list-group {
    gap: 1rem;
    border: none;
    background-color: var(--surface-color);
}

.list-group-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    border: none;
    background-color: var(--surface-color);
}



/* MAIN */

#photo-gallery {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.photo {
    width: 100%;
}



/* FOOTER */

#footer {
    padding-top: 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 170%;
    color: var(--text-color-secondary);
}

#footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#footer div p {
    margin: 0;
}

.list-unstyled {
    display: flex;
    gap: 1rem;
}

.footer-list-link {
    text-decoration: none;
    color: var(--text-color-secondary);
    transition: all .2s ease;
}

.footer-list-link:hover,
.footer-list-link:focus {
    color: var(--brand-color);
    text-decoration: underline;
}



/* TABLET DESIGN */

@media (min-width: 768px) {
    
    /* NAVBAR */

    .navbar-toggler-icon {
        min-width: 50px;
        min-height: 50px;
    }



    /* MAIN */

    #photo-gallery {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
    }


}



/* DESKTOP DESIGN */

@media (min-width: 1280px) {

    /* NAVBAR */

    .navbar {
        padding: 1.25rem 2rem;
    }

    .navbar .container-fluid{
        justify-content: space-between !important;
    }

    #navbarNav {
        max-width: fit-content;
    }

    .navbar-nav {
        gap: 2rem;
    }



    /* HEADER */

    #header {
        flex-direction: row;
        align-items: center;
        padding: calc(var(--nav-height) + 3rem) 2.15rem 2rem;
    }

    #header-main {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        flex: 3;
    }

    #header-profile {
        width: 176px;
        height: auto;
    }

    .profile-name {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .profile-about {
        text-align: left;
        max-width: 400px;
    }
    
    #header-info {
        flex: 1;
    }



     /* MAIN */

    #photo-gallery {
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        padding: 3rem;
    }



    /* FOOTER */
    #footer div {
        flex-direction: row;
        align-items: center;
        padding: 0 3rem 1rem;
    }

    .list-unstyled {
        align-items: center;
        gap: 2rem;
        margin: 0;
    }

}